{% extends 'base.html.twig' %}

{% block title %}Edit Cartoon
{% endblock %}

{% block body %}

	<h1>Edit Cartoon</h1>

	{{ include('admin/cartoon/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('cartoon_index') }}">back to list</a>

	{{ include('admin/cartoon/_delete_form.html.twig') }}
{% endblock %}
