{% extends 'base.html.twig' %}

{% block title %}Cartoon index
{% endblock %}

{% block body %}

	<h1>Cartoon index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Année</th>
				<th>Personnages</th>
				<th>Lieux Emblématiques</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cartoon in cartoons %}
				<tr>
					<td>{{ cartoon.id }}</td>
					<td>{{ cartoon.Name }}</td>
					<td>{{ cartoon.Year }}</td>
					<td>
						{% for cartoonCharacters in cartoon.Characters %}
							{{ cartoonCharacters.LastName }}
						{% endfor %}
					</td>
					<td>
						{% for cartoonPlaces in cartoon.Places %}
							{{ cartoonPlaces.Name }}
						{% endfor %}
					</td>
					<td>{{ cartoon.UpdatedAt ? cartoon.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ cartoon.CreatedAt ? cartoon.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('cartoon_show', {'id': cartoon.id}) }}">Voir en détail</a>
						<a href="{{ path('cartoon_edit', {'id': cartoon.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun dessin animé créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('cartoon_new') }}" class="addbutton">Ajouter un nouveau dessin animé</a>

{% endblock %}
