{% extends 'base.html.twig' %}

{% block title %}New Cartoon
{% endblock %}

{% block body %}

	<h1>Create new Cartoon</h1>

	{{ include('admin/cartoon/_form.html.twig') }}

	<a href="{{ path('cartoon_index') }}">back to list</a>
{% endblock %}
