{% extends 'base.html.twig' %}

{% block title %}Cartoon
{% endblock %}

{% block body %}

	<h1>Cartoon</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ cartoon.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ cartoon.Name }}</td>
			</tr>
			<tr>
				<th>Year</th>
				<td>{{ cartoon.Year }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('cartoon_index') }}">back to list</a>

	<a href="{{ path('cartoon_edit', {'id': cartoon.id}) }}">edit</a>

	{{ include('admin/cartoon/_delete_form.html.twig') }}
{% endblock %}
