{% extends 'basePublic.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post" class="login">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes enregistrer avec le compte
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
		<label for="inputPassword">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" name="_remember_me">
				Se souvenir de moi
			</label>
		</div>


		<button class="btn btn-lg btn-primary" type="submit">
			Se connecter
		</button>
	</form>
{% endblock %}
