.footer {
    margin-top: 50px;
    height: 150px;
    background-color: $mainGrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: white;
    .image {
        height: 75px;
        border-radius: 100%;
        margin: 35px;
    }
    .footerMenu {
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        div {
            color: white;
            margin: 15px;
        }
    }
}
