.navbar {
    background-color: $mainBlue;
    height: 150px;
    width: 100%;
    color: white;
    font-size: 2em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    .logButton {
        align-self: flex-end;
        margin-right: 20px;
        a {
            text-decoration: none;
            button {
                border-radius: 30px;
                outline-style: none;
                padding: 5px 15px;
                width: auto;
                border: none;
                color: black;
                background-color: $mainYellow;
                margin-top: 10px;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menuButton {
        a {
            color: white;
            text-decoration: none;
        }
    }
    .logo {
        height: 100px;
        width: 100px;
        background-image: url("../images/global/5ee9ca5c3460b159509233.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .searchBar {
        border-radius: 20px;
        outline: none;
        border: none;
        padding-left: 10px;
        height: 30px;
    }
}
