#body {
  margin: 0;
  cursor: crosshair;
}

#bg {
  height: 90%;
  width: 150%;
  margin: 0;
  position: fixed;
  z-index: -1;
}

#track {
  border: none;
  height: 11%;
  width: 100%;
  background-color: rgb(202, 140, 121);
  position: fixed;
  bottom: 0;
}

#header {
  background-color: rgba(43, 128, 255, 0.7);
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 10;
}

.return_menu {
  position: fixed;
  top: 3.5%;
  left: 10;
  font-size: xx-large;
  padding-left: 20px;
  cursor: pointer;
}

.title {
  font-size: 2em;
}

.title2 {
  font-size: x-large;
}

.time_txt {
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 30px;
  margin-left: 10px;
}

.time_txt2 {
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 32px;
  margin-left: 10px;
}

.minutes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seconds {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 3%;
}

#timer {
  position: fixed;
  top: 30%;
  left: 25%;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: 8em;
  color: white;
}

#time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_hide {
  display: none;
}

.musicButton {
  position: fixed;
  top: calc(10% + 10px);
  right: 10px;
  color: #454545;
  font-size: x-large;
}

.musicButton:hover {
  cursor: pointer;
}

/*--------------------------------------- TINTIN & ALCAZAR ---------------------------------------*/

.win {
  height: 100%;
  width: 100%;
  display: none;
}

.hiddenbutton {
  transform: scale(1.1);
  transition: 0.3s;
  height: 10%;
  width: 10%;
  border: rgb(37, 37, 37) solid 3px;
  border-radius: 10px;
  display: none;
}

#retrybutton {
  background-color: hsla(120, 100%, 25%);
  position: fixed;
  top: 45%;
  left: 45%;
  font-weight: bolder;
  font-size: large;
}

#retrybutton:hover {
  background-color: rgb(0, 104, 0);
}

#acceschateau {
  background-color: rgba(0, 26, 255);
  position: fixed;
  top: 45%;
  left: 45%;
  font-weight: bolder;
  font-size: large;
}

#acceschateau:hover {
  background-color: rgb(0, 20, 202);
}

#leavegame {
  background-color: rgb(243, 36, 0);
  position: fixed;
  top: 45%;
  left: 52%;
  font-weight: bolder;
  font-size: large;
}

#leavegame:hover {
  background-color: rgb(192, 29, 0);
}

.object {
  position: fixed;
  bottom: 1%;
  height: 13%;
}

/*--------------------------------------- AIDE ---------------------------------------*/

#dark_bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 10010;
}

#aide_container {
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10011;
  border: solid 1px #03acee;
  opacity: 2;
  border-radius: 5px;
  cursor: default;
}

#aide_header {
  height: 5%;
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: grey;
}

.fa_aide {
  font-size: 20;
  color: rgb(71, 71, 71);
}

.fa_aide:hover {
  transform: rotate(180deg) scale(1.2);
  transition: 0.7s;
  color: rgb(37, 37, 37);
}

#aide_body {
  height: 80%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pselector_label {
  margin: 5px;
}

.pselector_label:hover {
  display: none;
}

.pselector_input {
  color: #0298ce;
}

#aide_footer {
  width: auto;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009dff;
}

.aide_title {
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aide_content {
  width: 80%;
  font-size: 1.5em;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aide_title {
  text-shadow: #000;
  color: #454545;
  size: 2.5em;
}

.aide_button {
  background-color: rgba(0, 26, 255, 0.6);
  height: 150%;
  width: 30%;
  border: black 3px solid;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.aide_button:hover {
  background-color: rgba(0, 26, 255, 0.8);
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.close_cross {
  cursor: pointer;
}

/*--------------------------------------- rotate phone -----------------------------------*/

.rotate_index {
  z-index: 100;
}

#overlay .fa-times {
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 30px;
  color: #454545;
  opacity: 0;
}

.dupondt {
  width: 20%;
  bottom: 30%;
  position: fixed;
  opacity: 0;
}

#dupond {
  left: 5%;
}

#dupont {
  right: 5%;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  background-color: rgb(129, 129, 129, 1);
  width: 100%;
  height: 100%;
}

#iconContainer {
  width: 220px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
#iconContainer p {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 30px;
  opacity: 0;
  color: white;
}

.phone {
  position: relative;
  left: 50%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 0 solid #000;
  background: #a9a9a9;
  border-radius: 10px;
  box-sizing: border-box;
}
.phone i {
  z-index: 101;
  text-align: center;
  width: 100%;
  line-height: 120px;
  font-size: 50px;
  color: #454545;
  opacity: 0;
}

@media only screen and (max-width: 550px) {
  #overlay {
    display: block;
  }

  #overlay .phone {
    -webkit-animation: sizeIncrease 0.5s forwards ease, borderIncrease 0.5s 0.5s forwards ease,
      rotateRight 0.7s 1s forwards ease;
    animation: sizeIncrease 0.5s forwards ease, borderIncrease 0.5s 0.5s forwards ease,
      rotateRight 0.7s 1s forwards ease;
  }

  #overlay .phone i {
    -webkit-animation: fadeIn 0.5s 0.8s forwards ease;
    animation: fadeIn 0.5s 0.8s forwards ease;
  }

  #overlay .fa-times {
    -webkit-animation: fadeIn 0.5s 0.8s forwards ease;
    animation: fadeIn 0.5s 0.8s forwards ease;
  }

  #overlay .dupondt {
    -webkit-animation: fadeIn 0.5s 0.8s forwards ease;
    animation: fadeIn 0.5s 0.8s forwards ease;
  }

  #overlay #iconContainer p {
    -webkit-animation: fadeIn2 0.5s 1.3s forwards ease;
    animation: fadeIn2 0.5s 1.3s forwards ease;
  }
}
/* KEYFRAMES
------------------------------------------- */
/* Animate width + height */
@-webkit-keyframes sizeIncrease {
  0% {
    width: 0;
    height: 10px;
  }
  50% {
    width: 100px;
    height: 10px;
  }
  100% {
    width: 100px;
    height: 160px;
  }
}
@keyframes sizeIncrease {
  0% {
    width: 0;
    height: 10px;
  }
  50% {
    width: 100px;
    height: 10px;
  }
  100% {
    width: 100px;
    height: 160px;
  }
}
/* Add borders */
@-webkit-keyframes borderIncrease {
  100% {
    border-width: 20px 10px;
  }
}
@keyframes borderIncrease {
  100% {
    border-width: 20px 10px;
  }
}
/* fade-in  */
@-webkit-keyframes fadeIn {
  100% {
    color: #000;
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    color: #000;
    opacity: 1;
  }
}
/* fade-in 2 */
@-webkit-keyframes fadeIn2 {
  100% {
    color: #ffffff;
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  100% {
    color: #ffffff;
    opacity: 1;
  }
}
/* Rotate device */
@-webkit-keyframes rotateRight {
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotateRight {
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

a {
  color: white;
}
