.navbar {
  background-color: #5487fd;
  height: 150px;
  width: 100%;
  color: white;
  font-size: 2em;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .logButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 20px;
}

.navbar .logButton a {
  text-decoration: none;
}

.navbar .logButton a button {
  border-radius: 30px;
  outline-style: none;
  padding: 5px 15px;
  width: auto;
  border: none;
  color: black;
  background-color: #f49815;
  margin-top: 10px;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menuButton a {
  color: white;
  text-decoration: none;
}

.navbar .logo {
  height: 100px;
  width: 100px;
  background-image: url("../images/global/5ee9ca5c3460b159509233.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .searchBar {
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 10px;
  height: 30px;
}

.footer {
  margin-top: 50px;
  height: 150px;
  background-color: #5e5c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 20px;
  color: white;
}

.footer .image {
  height: 75px;
  border-radius: 100%;
  margin: 35px;
}

.footer .footerMenu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerMenu div {
  color: white;
  margin: 15px;
}

.wikiLinks {
  margin: 50px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 400px;
}

.wikiLinks__element {
  width: 15vw;
  border: 1px solid black;
  margin-right: 50px;
  margin-bottom: 50px;
}

.titleText {
  font-family: Tintin_talking;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.wikiList {
  margin: 30px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 125px;
  border-bottom: 1px solid black;
  overflow: hidden;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.wikiList__item {
  height: 120px;
  width: 10vw;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropdownButton {
  height: 20px;
  width: 20px;
  margin: 10px auto;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .PageContent {
  width: 100%;
}

.page #navbarAdmin {
  height: 100vh;
  width: 5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #5487fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 30px;
  overflow: hidden;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.page #navbarAdmin:hover {
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 30vw;
}

.page #navbarAdmin a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22vw;
  text-decoration: none;
  border-bottom: black 1px solid;
  padding-left: 20px;
}

.page #navbarAdmin a i {
  color: black;
  font-size: 30px;
  margin-right: auto;
}

.page #navbarAdmin a button {
  color: white;
  background: none;
  border: none;
  font-size: 15px;
  outline: none;
  margin-right: auto;
}

.accountButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
}

.accountButton a {
  margin-left: 15px;
  margin-right: 15px;
}

.accountButton a button {
  outline-style: none;
  padding: 5px 15px;
  background: none;
  border: #f49815 1px solid;
  border-radius: 30px;
  background-color: #f49815;
}

table {
  border-collapse: collapse;
  border: 2px solid #c8c8c8;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-bottom: 30px;
}

td,
th {
  border: 1px solid #bebebe;
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

.addButton {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 30px;
  padding: 0 10px;
  margin-top: 10px;
  outline-style: none;
}

#character div {
  padding-top: 20px;
}

@font-face {
  font-family: Gadugi;
  src: url(../font/gadugi.ttf);
}

@font-face {
  font-family: Tintin_talking;
  src: url(../font/tintin_talking.ttf);
}

@font-face {
  font-family: HelveticaNeueMedium;
  src: url(../font/HelveticaNeue-Medium.otf);
}

@font-face {
  font-family: HelveticaNeueMedium;
  src: url(../font/HelveticaNeue-Medium.otf);
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url(../font/HelveticaNeue-Light.otf);
}

@font-face {
  font-family: HelveticaNeueHeavy;
  src: url(../font/HelveticaNeue-Heavy.otf);
}

@font-face {
  font-family: HelveticaNeueThin;
  src: url(../font/HelveticaNeue-Thin.otf);
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url(../font/HelveticaNeueBold.ttf);
}

body {
  margin: 0;
  font-family: HelveticaNeueMedium;
}

.login {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login label,
.login input {
  margin-bottom: 10px;
}

.login button {
  margin-bottom: 140px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid black;
}

.wikiBody {
  margin: 0 15%;
}
/*# sourceMappingURL=main.css.map */