@import "./variables";
@import "./mixin";
@import "./header";
@import "./footer";
@import "./public/index";
@import "./public/indexWiki";
@import "./Admin/navbar";
@import "./Admin/table";

@font-face {
    font-family: Gadugi;
    src: url(../font/gadugi.ttf);
}
@font-face {
    font-family: Tintin_talking;
    src: url(../font/tintin_talking.ttf);
}
@font-face {
    font-family: HelveticaNeueMedium;
    src: url(../font/HelveticaNeue-Medium.otf);
}
@font-face {
    font-family: HelveticaNeueMedium;
    src: url(../font/HelveticaNeue-Medium.otf);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(../font/HelveticaNeue-Light.otf);
}
@font-face {
    font-family: HelveticaNeueHeavy;
    src: url(../font/HelveticaNeue-Heavy.otf);
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url(../font/HelveticaNeue-Thin.otf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../font/HelveticaNeueBold.ttf);
}

body {
    margin: 0;
    font-family: HelveticaNeueMedium;
}

.login {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label,
    input {
        margin-bottom: 10px;
    }
    button {
        margin-bottom: 140px;
        background-color: transparent;
        border-radius: 30px;
        border: 1px solid black;
    }
}

.wikiBody {
    margin: 0 15%;
}
