{% extends 'base.html.twig' %}

{% block title %}Edit Movie
{% endblock %}

{% block body %}

	<h1>Edit Movie</h1>

	{{ include('admin/movie/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('movie_index') }}">back to list</a>

	{{ include('admin/movie/_delete_form.html.twig') }}
{% endblock %}
