{% extends 'base.html.twig' %}

{% block title %}Movie index
{% endblock %}

{% block body %}

	<h1>Movie index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Année</th>
				<th>Producteur</th>
				<th>Personnages</th>
				<th>Lieux Emblématiques</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for movie in movies %}
				<tr>
					<td>{{ movie.id }}</td>
					<td>{{ movie.Name }}</td>
					<td>{{ movie.Year }}</td>
					<td>{{ movie.Director }}</td>
					<td>
						{% for movieCharacters in movie.Characters %}
							{{ movieCharacters.LastName }}
						{% endfor %}
					</td>
					<td>
						{% for moviePlaces in movie.Places %}
							{{ moviePlaces.Name }}
						{% endfor %}
					</td>
					<td>{{ movie.UpdatedAt ? movie.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ movie.CreatedAt ? movie.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('movie_show', {'id': movie.id}) }}">Voir en détail</a>
						<a href="{{ path('movie_edit', {'id': movie.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun film créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('movie_new') }}" class="addButton">Ajouter un nouveau film</a>

{% endblock %}
