{% extends 'base.html.twig' %}

{% block title %}New Movie
{% endblock %}

{% block body %}

	<h1>Create new Movie</h1>

	{{ include('admin/movie/_form.html.twig') }}

	<a href="{{ path('movie_index') }}">back to list</a>
{% endblock %}
