{% extends 'base.html.twig' %}

{% block title %}Movie
{% endblock %}

{% block body %}

	<h1>Movie</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ movie.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ movie.Name }}</td>
			</tr>
			<tr>
				<th>Year</th>
				<td>{{ movie.Year }}</td>
			</tr>
			<tr>
				<th>Director</th>
				<td>{{ movie.Director }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('movie_index') }}">back to list</a>

	<a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>

	{{ include('admin/movie/_delete_form.html.twig') }}
{% endblock %}
