{% extends 'base.html.twig' %}
{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<h1>Bienvenue dans l'interface administrateur de votre site</h1>
	<div class="admin__options">
		<div>

			<h3>Pour accéder aux infos globales cliquez ci-dessous</h3>
			<a href="{{path("global_informations_index")}}">
				<button>Contrôle des infos globale</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux articles cliquez ci-dessous</h3>
			<a href="{{path("article_index")}}">
				<button>Contrôle des articles</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux dessin animés cliquez ci-dessous</h3>
			<a href="{{path("cartoon_index")}}">
				<button>Contrôle des dessin animés</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux personnages cliquez ci-dessous</h3>
			<a href="{{path("character_index")}}">
				<button>Contrôle des personnages</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux bandes dessinés cliquez ci-dessous</h3>
			<a href="{{path("comic_index")}}">
				<button>Contrôle des bandes dessinés</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux lieux cliquez ci-dessous</h3>
			<a href="{{path("emblematic_places_index")}}">
				<button>Contrôle des lieux</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux jeux cliquez ci-dessous</h3>
			<a href="{{path("game_index")}}">
				<button>Contrôle des jeux</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux films cliquez ci-dessous</h3>
			<a href="{{path("movie_index")}}">
				<button>Contrôle des films</button>
			</a>
		</div>
	</div>
	<div class="flex">
		<a>
			<button>Retour à la vue utilisateur</button>
		</a>
	</dev>
{% endblock %}
