{% extends 'base.html.twig' %}

{% block title %}Edit GlobalInformations
{% endblock %}

{% block body %}
	<h1>Edit GlobalInformations</h1>

	{{ include('admin/global_informations/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
