{% extends 'base.html.twig' %}

{% block title %}GlobalInformations index
{% endblock %}

{% block body %}
	<h1>GlobalInformations index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom de fichier favicon</th>
				<th>Nom de fichier logo du site</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for global_information in global_informations %}
				<tr>
					<td>{{ global_information.id }}</td>
					<td>{{ global_information.filenameFavicon }}</td>
					<td>{{ global_information.filenameGlobalImage }}</td>
					<td>{{ global_information.createdAt ? global_information.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ global_information.updatedAt ? global_information.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('global_informations_show', {'id': global_information.id}) }}">Voir en détail</a>
						<a href="{{ path('global_informations_edit', {'id': global_information.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('global_informations_new') }}">Create new</a>
{% endblock %}
