{% extends 'base.html.twig' %}

{% block title %}New GlobalInformations
{% endblock %}

{% block body %}
	<h1>Create new GlobalInformations</h1>

	{{ include('admin/global_informations/_form.html.twig') }}

	<a href="{{ path('global_informations_index') }}">back to list</a>
{% endblock %}
