{% extends 'base.html.twig' %}

{% block title %}GlobalInformations
{% endblock %}

{% block body %}
	<h1>GlobalInformations</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ global_information.id }}</td>
			</tr>
			<tr>
				<th>FilenameFavicon</th>
				<td>{{ global_information.filenameFavicon }}</td>
			</tr>
			<tr>
				<th>FilenameGlobalImage</th>
				<td>{{ global_information.filenameGlobalImage }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ global_information.createdAt ? global_information.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Updated_at</th>
				<td>{{ global_information.updatedAt ? global_information.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>PrimaryMenu1</th>
				<td>{{ global_information.PrimaryMenu1 }}</td>
			</tr>
			<tr>
				<th>PrimaryMenu2</th>
				<td>{{ global_information.PrimaryMenu2 }}</td>
			</tr>
			<tr>
				<th>PrimaryMenu3</th>
				<td>{{ global_information.PrimaryMenu3 }}</td>
			</tr>
			<tr>
				<th>PrimaryMenu4</th>
				<td>{{ global_information.PrimaryMenu4 }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('global_informations_index') }}">back to list</a>

	<a href="{{ path('global_informations_edit', {'id': global_information.id}) }}">edit</a>

	{{ include('admin/global_informations/_delete_form.html.twig') }}
{% endblock %}
