{% extends 'base.html.twig' %}

{% block title %}Edit Comic
{% endblock %}

{% block body %}

	<h1>Edit Comic</h1>

	{{ include('admin/comic/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('comic_index') }}">back to list</a>

	{{ include('admin/comic/_delete_form.html.twig') }}
{% endblock %}
