{% extends 'base.html.twig' %}

{% block title %}Comic index
{% endblock %}

{% block body %}

	<h1>Liste des bandes dessinés</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Année</th>
				<th>Personnages</th>
				<th>Lieux Emblématiques</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comic in comics %}
				<tr>
					<td>{{ comic.id }}</td>
					<td>{{ comic.Name }}</td>
					<td>{{ comic.Year }}</td>
					<td>
						{% for comicCharacters in comic.Characters %}
							{{ comicCharacters.LastName }}
						{% endfor %}
					</td>
					<td>
						{% for comicPlaces in comic.Places %}
							{{ comicPlaces.Name }}
						{% endfor %}
					</td>
					<td>{{ comic.UpdatedAt ? comic.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ comic.CreatedAt ? comic.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('comic_show', {'id': comic.id}) }}">Voir en détail</a>
						<a href="{{ path('comic_edit', {'id': comic.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune bande dessiné créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('comic_new') }}" class="addButton">Ajouter une nouvelle bande dessiné</a>

{% endblock %}
