{% extends 'base.html.twig' %}

{% block title %}New Comic
{% endblock %}

{% block body %}

	<h1>Create new Comic</h1>

	{{ include('admin/comic/_form.html.twig') }}

	<a href="{{ path('comic_index') }}">back to list</a>
{% endblock %}
