{% extends 'base.html.twig' %}

{% block title %}Comic
{% endblock %}

{% block body %}

	<h1>Comic</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ comic.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ comic.Name }}</td>
			</tr>
			<tr>
				<th>Year</th>
				<td>{{ comic.Year }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('comic_index') }}">back to list</a>

	<a href="{{ path('comic_edit', {'id': comic.id}) }}">edit</a>

	{{ include('admin/comic/_delete_form.html.twig') }}
{% endblock %}
