.page {
    height: 100%;
    width: 100%;
    display: flex;
    .PageContent {
        width: 100%;
    }
    #navbarAdmin {
        height: 100vh;
        width: 5vw;
        position: sticky;
        top: 0;
        left: 0;
        background-color: $mainBlue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 30px;
        overflow: hidden;
        transition: 250ms;
        &:hover {
            transition: 250ms;
            width: 30vw;
        }
        a {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22vw;
            text-decoration: none;
            border-bottom: black 1px solid;
            padding-left: 20px;
            i {
                color: black;
                font-size: 30px;
                margin-right: auto;
            }
            button {
                color: white;
                background: none;
                border: none;
                font-size: 15px;
                outline: none;
                margin-right: auto;
            }
        }
    }
}

.accountButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    a {
        margin-left: 15px;
        margin-right: 15px;
        button {
            outline-style: none;
            padding: 5px 15px;
            background: none;
            border: $mainYellow 1px solid;
            border-radius: 30px;
            background-color: $mainYellow;
        }
    }
}
