table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-bottom: 30px;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

.addButton {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 30px;
    padding: 0 10px;
    margin-top: 10px;
    outline-style: none;
}

#character {
    div {
        padding-top: 20px;
    }
}
