<form method="post" action="{{ path('emblematic_places_delete', {'id': emblematic_place.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emblematic_place.id) }}">
    <button class="btn">Delete</button>
</form>
