{% extends 'base.html.twig' %}

{% block title %}Edit EmblematicPlaces
{% endblock %}

{% block body %}

	<h1>Edit EmblematicPlaces</h1>

	{{ include('admin/emblematic_places/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('emblematic_places_index') }}">back to list</a>

	{{ include('admin/emblematic_places/_delete_form.html.twig') }}
{% endblock %}
