{% extends 'base.html.twig' %}

{% block title %}EmblematicPlaces index
{% endblock %}

{% block body %}

	<h1>Liste des lieux emblématiques</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Pays</th>
				<th>Dessin animés</th>
				<th>Bande dessinés</th>
				<th>Jeux Vidéos</th>
				<th>Films</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for emblematic_place in emblematic_places %}
				<tr>
					<td>{{ emblematic_place.id }}</td>
					<td>{{ emblematic_place.Name }}</td>
					<td>{{ emblematic_place.Country }}</td>
					<td>
						{% for emblematic_placeCartoon in emblematic_place.Cartoons %}
							{{ emblematic_placeCartoon.Name }}
						{% endfor %}
					</td>
					<td>
						{% for emblematic_placeComic in emblematic_place.Comics %}
							{{ emblematic_placeComic.Name }}
						{% endfor %}
					</td>
					<td>
						{% for emblematic_placeGame in emblematic_place.Games %}
							{{ emblematic_placeGame.Name }}
						{% endfor %}
					</td>
					<td>
						{% for emblematic_placeMovie in emblematic_place.Movies %}
							{{ emblematic_placeMovie.Name }}
						{% endfor %}
					</td>
					<td>{{ emblematic_place.UpdatedAt ? emblematic_place.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ emblematic_place.CreatedAt ? emblematic_place.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('emblematic_places_show', {'id': emblematic_place.id}) }}">Voir en détail</a>
						<a href="{{ path('emblematic_places_edit', {'id': emblematic_place.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun lieux emblématique créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('emblematic_places_new') }}" class="addButton">Ajouter un nouveau lieu emblématique</a>

{% endblock %}
