{% extends 'base.html.twig' %}

{% block title %}New EmblematicPlaces
{% endblock %}

{% block body %}

	<h1>Create new EmblematicPlaces</h1>

	{{ include('admin/emblematic_places/_form.html.twig') }}

	<a href="{{ path('emblematic_places_index') }}">back to list</a>
{% endblock %}
