{% extends 'base.html.twig' %}

{% block title %}EmblematicPlaces
{% endblock %}

{% block body %}

	<h1>EmblematicPlaces</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ emblematic_place.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ emblematic_place.Name }}</td>
			</tr>
			<tr>
				<th>Country</th>
				<td>{{ emblematic_place.Country }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('emblematic_places_index') }}">back to list</a>

	<a href="{{ path('emblematic_places_edit', {'id': emblematic_place.id}) }}">edit</a>

	{{ include('admin/emblematic_places/_delete_form.html.twig') }}
{% endblock %}
