.wikiList {
    margin: 30px 20%;
    display: flex;
    flex-wrap: wrap;
    height: 125px;
    border-bottom: 1px solid black;
    overflow: hidden;
    transition: 250ms;
    &__item {
        height: 120px;
        width: 10vw;
        border: 1px solid black;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.dropdownButton {
    height: 20px;
    width: 20px;
    margin: 10px auto;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transition: 250ms;
    transform: rotate(-45deg);
}
