.wikiLinks {
    margin: 50px 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    &__element {
        // height: 150px;
        width: 15vw;
        border: 1px solid black;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

.titleText {
    font-family: Tintin_talking;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.swiper-container {
    width: 600px;
    height: 300px;
}
