<form method="post" action="{{ path('character_delete', {'id': character.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.id) }}">
	<button class="btn addButton">Delete</button>
</form>
