{% extends 'base.html.twig' %}

{% block title %}Edit Character
{% endblock %}

{% block body %}

	<h1>Edit Character</h1>

	{{ include('admin/character/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('character_index') }}" class="addButton">back to list</a>

	{{ include('admin/character/_delete_form.html.twig') }}
{% endblock %}
