{% extends 'base.html.twig' %}

{% block title %}Character index
{% endblock %}

{% block body %}

	<h1>Liste des personnages</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Prénom</th>
				<th>Nom de famille</th>
				<th>première apparition</th>
				<th>Dessins animés</th>
				<th>Bande dessinés</th>
				<th>Jeux Vidéos</th>
				<th>Films</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for character in characters %}
				<tr>
					<td>{{ character.id }}</td>
					<td>{{ character.FirstName }}</td>
					<td>{{ character.LastName }}</td>
					<td>{{ character.FirstApparition }}</td>
					<td>
						{% for characterCartoon in character.Cartoons %}
							{{ characterCartoon.Name }}
						{% endfor %}
					</td>
					<td>
						{% for characterComic in character.Comics %}
							{{ characterComic.Name }}
						{% endfor %}
					</td>
					<td>
						{% for characterGame in character.Games %}
							{{ characterGame.Name }}
						{% endfor %}
					</td>
					<td>
						{% for characterMovie in character.Movies %}
							{{ characterMovie.Name }}
						{% endfor %}
					</td>
					<td>{{ character.UpdatedAt ? character.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ character.CreatedAt ? character.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('character_show', {'id': character.id}) }}">Voir en détail</a>
						<a href="{{ path('character_edit', {'id': character.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun personnage créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('character_new') }}" class="addButton">Ajouter un nouveau personnage</a>

{% endblock %}
