{% extends 'base.html.twig' %}

{% block title %}Character
{% endblock %}

{% block body %}

<h1>Character</h1>

<table class="table">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ character.id }}</td>
		</tr>
		<tr>
			<th>Prénom</th>
			<td>{{ character.FirstName }}</td>
		</tr>
		<tr>
			<th>Nom de famille</th>
			<td>{{ character.LastName }}</td>
		</tr>
		<tr>
			<th>Première apparition</th>
			<td>{{ character.FirstApparition }}</td>
		</tr>
		<tr>
			<th>Image</th>
			<td>
				<img src="{{ vich_uploader_asset(character) }}" alt="">
			</td>
		</tr>
		<tr>
			<th>Dessin animé</th>
			<td>
				{% for characterCartoon in character.Cartoons %}
				{{ characterCartoon.Name }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Bande dessiné</th>
			<td>
				{% for characterComic in character.Comics %}
				{{ characterComic.Name }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Jeux Vidéos</th>
			<td>
				{% for characterGame in character.Games %}
				{{ characterGame.Name }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Film</th>
			<td>
				{% for characterMovie in character.Movies %}
				{{ characterMovie.Name }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Créer le</th>
			<td>{{ character.CreatedAt ? character.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>Mis à jour le</th>
			<td>{{ character.UpdatedAt ? character.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>Contenu du wiki</th>
			<td>{{ character.content|raw }}</td>
		</tr>
	</tbody>
</table>

<a href="{{ path('character_index') }}" class="addButton">back to list</a>

<a href="{{ path('character_edit', {'id': character.id}) }}" class="addButton">edit</a>

{{ include('admin/character/_delete_form.html.twig') }}
{% endblock %}