<html lang="fr">

<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tintin</title>
    <link rel="shortcut icon" href="{{ asset("/images/favicon.ico") }}" />
    <link rel="stylesheet" href="{{ asset("/css/main.css") }}">
</head>

<body>
    <div class="navbar">
        <div class="logButton">
            {% if app.user %}
            <a href="{{path("app_logout")}}">
                <button>Déconnexion</button>
            </a>
            <a href="{{path("admin_index")}}">
                <button>Accès à l'accueil administrateur</button>
            </a>
            <a href="{{path("accueil")}}">
                <button>Accès à l'accueil public</button>
            </a>
            {% else %}
            <a href="{{path("app_login")}}">
                <button>Connectez vous</button>
            </a>
            {% endif %}
        </div>
        <div class="navbar__container">
            <div class="logo"></div>
            <div class="menuButton"> <a href="{{path("accueil")}}">Actualités</a>
            </div>
            <div class="menuButton"><a href="{{path("accueilWiki")}}">Wiki</a></div>
            <div class="menuButton"><a href="{{path("game")}}">Jeux</a></div>
            <input class="searchBar" placeholder="Rechercher">
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="footer">
        <div class="socialMedia">
            <img src="{{ asset("/images/socialMedia/facebook.svg") }}" alt="Logo Facebook" class="image">
            <img src="{{ asset("/images/socialMedia/twitter.svg") }}" alt="Logo twitter" class="image">
            <img src="{{ asset("/images/socialMedia/instagram.png") }}" alt="Logo instagram" class="image">
        </div>
        <div class="footerMenu">
            <div>Plan du site</div>
            <div>Contact</div>
            <div>Mentions légales</div>
        </div>
    </div>
    {% block script %}{% endblock %}
</body>

</html>