<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="shortcut icon" href="{{ asset("/images/favicon.ico") }}" /> {% block stylesheets %}{% endblock %}
	<link rel="stylesheet" href="{{ asset("/css/main.css") }}">
</head>

<body>
	<div class="page">
		<div id="navbarAdmin">

			<a href="{{path("admin_index")}}">
				<i class="fas fa-home"></i>
				<button>Page d'accueil admin</button>
			</a>

			<a href="{{path("global_informations_index")}}">
				<i class="fas fa-sitemap"></i>
				<button>Contrôle des infos globale</button>
			</a>

			<a href="{{path("article_index")}}">
				<i class="fas fa-newspaper"></i>
				<button>Contrôle des articles</button>
			</a>


			<a href="{{path("cartoon_index")}}">
				<i class="fas fa-tv"></i>
				<button>Contrôle des dessin animés</button>
			</a>


			<a href="{{path("character_index")}}">
				<i class="fas fa-male"></i>
				<button>Contrôle des personnages</button>
			</a>


			<a href="{{path("comic_index")}}">
				<i class="fas fa-book-open"></i>
				<button>Contrôle des bandes dessinés</button>
			</a>


			<a href="{{path("emblematic_places_index")}}">
				<i class="fas fa-map-marked"></i>
				<button>Contrôle des lieux</button>
			</a>


			<a href="{{path("game_index")}}">
				<i class="fas fa-gamepad"></i>
				<button>Contrôle des jeux</button>
			</a>


			<a href="{{path("movie_index")}}">
				<i class="fas fa-video"></i>
				<button>Contrôle des films</button>
			</a>

		</div>
		<div class="PageContent">
			<div class="accountButton">
				<a href="{{path("app_logout")}}">
					<button>Déconnexion</button>
				</a>
				<a href="{{path("admin_index")}}">
					<button>Accès à l'accueil administrateur</button>
				</a>
				<a href="{{path("accueil")}}">
					<button>Accès à l'accueil public</button>
				</a>
			</div>
			{% block body %}{% endblock %}
		</div>
	</div>
	<script src="https://kit.fontawesome.com/a1fd1702d8.js" crossorigin="anonymous"></script>
	{% block javascripts %}{% endblock %}
</body>

</html>