{% if app.user %}
	<a href="{{path("app_logout")}}">
		<button>Déconnexion</button>
	</a>
	<a href="{{path("admin_index")}}">
		<button>Accès à l'accueil administrateur</button>
	</a>
	<a href="{{path("public")}}">
		<button>Accès à l'accueil public</button>
	</a>
{% else %}
	<a href="{{path("app_login")}}">
		<button>Connectez vous</button>
	</a>
{% endif %}
