{% extends 'base.html.twig' %}

{% block title %}Edit Article
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/dist/tagify.css">
{% endblock %}
{% block body %}


	{{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('article_index') }}">back to list</a>

	{{ include('admin/article/_delete_form.html.twig') }}
	<script src="/dist/tagify.min.js"></script>
	<script src="/js/test.js"></script>
	<h1>Edit Article</h1>
{% endblock %}
