{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}

	<h1>Liste des articles</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Slug</th>
				<th>Content</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Author</th>
				<th>Category</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.name }}</td>
					<td>{{ article.slug }}</td>
					<td>{{ article.content|raw }}</td>
					<td>{{ article.UpdatedAt ? article.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ article.CreatedAt ? article.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ article.Author }}</td>
					<td>
						{{ article.Category ? article.Category|join('; ') : '' }}
					</td>
					<td>{{ article.filename }}</td>
					<td>
						<a href="{{ path('article_show', {'slug': article.slug}) }}">Voir en détail</a>
						<a href="{{ path('article_edit', {'slug': article.slug}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucun article créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('article_new') }}" class="addButton">Ajouter un nouvel article</a>
{% endblock %}
