{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}

	<h1>Create new Article</h1>

	{{ include('admin/article/_form.html.twig') }}

	<a href="{{ path('article_index') }}">back to list</a>
{% endblock %}
