{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

	<h1>Article</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ article.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ article.name }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ article.slug }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ article.content|raw }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ article.UpdatedAt ? article.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ article.CreatedAt ? article.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Author</th>
				<td>{{ article.Author }}</td>
			</tr>
			<tr>
				<th>Category</th>
				<td>{{ article.Category ? article.Category|join(', ') : '' }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>
					<img src="/images/articles/{{ article.filename }}">
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('article_index') }}">back to list</a>

	<a href="{{ path('article_edit', {'slug': article.slug}) }}">edit</a>

	{{ include('admin/article/_delete_form.html.twig') }}
{% endblock %}
