<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tintin et le chateau de Moulinsart</title>
		<script src="https://kit.fontawesome.com/5c35afdd36.js" crossorigin="anonymous"></script>
		<script src="{{ asset("/js/game.js") }}"></script>
		<link rel="stylesheet" href="{{ asset("/css/game.css") }}">

	</head>
	<body id="body">
		<header id="header">
			<div class="return_menu">
				<a href="{{path("accueil")}}">
					<i class="fas fa-arrow-left return_arrow"></i>
				</a>
			</div>
			<div class="title">TINTIN ET LE CHATEAU DE MOULINSART</div>
		</header>
		<div id="timer">
			<div class="title2">LES RENFORTS DU GENERAL ALCAZAR SERONT LA DANS</div>
			<div class="title2" style="color: red; padding-left: 10; padding-right: 10; font-size: xx-large;">30</div>
			<div class="title2">SECONDES</div>

		</div>
		<img id="bg" src="{{ asset("/images/gameTintin/moulinsarttransfo.png") }}" alt="background">
		<div id="track"></div>
		<div id="overlay">
			<i class="fas fa-times">
				<a href="{{path("accueil")}}"></a>
			</i>
			<img class="dupondt" id="dupond" src="{{ asset("/images/gameTintin/Dupond.png") }}" alt="Dupond">
			<img class="dupondt" id="dupont" src="{{ asset("/images/gameTintin/Dupont.png") }}" alt="Dupont">
			<div id="iconContainer">
				<p>
					Tournez votre appareil !</p>
				<div class="phone">
					<i class="fas fa-redo"></i>
				</div>
				<p>Je dirais même plus, Tournez votre appareil !
				</p>
			</div>
		</div>

	</body>
</html>
