{% extends 'basePublic.html.twig' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block body %}
<div class="titleText">Les infos du Professeur Tournesol</div>
<div class="wikiLinks">
	<div class="wikiLinks__element"></div>
	<div class="wikiLinks__element"></div>
	<div class="wikiLinks__element"></div>
	<div class="wikiLinks__element"></div>
	<div class="wikiLinks__element"></div>
	<div class="wikiLinks__element"></div>
</div>
<div class="titleText">Le carnet de bord du Capitaine</div>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">Slide 1</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 3</div>
	</div>
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
{% endblock %}
{% block script %}

<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script>
	var swiper = new Swiper('.swiper-container', {
		slidesPerView: 3,
		spaceBetween: 30,
		loop: true,
		loopFillGroupWithBlank: true,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
{% endblock %}