{% extends 'basePublic.html.twig' %}

{% block body %}
	<div class="titleText">Les Personnages</div>
	<div class="wikiList" id="wikiList--Character">
		{% for character in characters %}
			<a href="{{ path('characterWiki', {"FirstName" : character.Firstname })}}">
				<img src="{{ vich_uploader_asset(character) }}" alt="" class="wikiList__item">
			</a>
		{% endfor %}
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
	</div>
	<div class="dropdownButton" id="dropdownButton--Character"></div>
	<div class="titleText">Les lieux emblématiques</div>
	<div class="wikiList" id="wikiList--Places">
		{% for emblematic_place in emblematic_places %}
			<a href="{{ path('placeWiki', {"Name" : emblematic_place.Name })}}">
				<img src="{{ vich_uploader_asset(emblematic_place) }}" alt="" class="wikiList__item">
			</a>
		{% endfor %}
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
	</div>
	<div class="dropdownButton" id="dropdownButton--Places"></div>
	<div class="titleText">Les Bandes dessinés</div>
	<div class="wikiList" id="wikiList--Comic">
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
	</div>
	<div class="dropdownButton" id="dropdownButton--Comic"></div>
	<div class="titleText">Les films</div>
	<div class="wikiList" id="wikiList--Films">
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
	</div>
	<div class="dropdownButton" id="dropdownButton--Films"></div>
	<div class="titleText">Les Jeux vidéos</div>
	<div class="wikiList" id="wikiList--Game">
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
	</div>
	<div class="dropdownButton" id="dropdownButton--Game"></div>
	<div class="titleText">Les Dessin Annimés</div>
	<div class="wikiList" id="wikiList--Cartoon">
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
		<div class="wikiList__item"></div>
	</div>
	<div class="dropdownButton" id="dropdownButton--Cartoon"></div>
{% endblock %}
{% block script %}
	<script src="{{ asset("/js/wiki.js") }}"></script>
{% endblock %}
