{% extends 'base.html.twig' %}

{% block title %}Edit Game
{% endblock %}

{% block body %}

	<h1>Edit Game</h1>

	{{ include('admin/game/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('game_index') }}">back to list</a>

	{{ include('admin/game/_delete_form.html.twig') }}
{% endblock %}
