{% extends 'base.html.twig' %}

{% block title %}Game index
{% endblock %}

{% block body %}

	<h1>Game index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Année</th>
				<th>Studio de développement</th>
				<th>Personnages</th>
				<th>Lieux Emblématiques</th>
				<th>Modifier le</th>
				<th>Créer le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for game in games %}
				<tr>
					<td>{{ game.id }}</td>
					<td>{{ game.Name }}</td>
					<td>{{ game.Year }}</td>
					<td>{{ game.GameStudio }}</td>
					<td>
						{% for gameCharacters in game.Characters %}
							{{ gameCharacters.LastName }}
						{% endfor %}
					</td>
					<td>
						{% for gamePlaces in game.Places %}
							{{ gamePlaces.Name }}
						{% endfor %}
					</td>
					<td>{{ game.UpdatedAt ? game.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ game.CreatedAt ? game.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('game_show', {'id': game.id}) }}">Voir en détail</a>
						<a href="{{ path('game_edit', {'id': game.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun jeu vidéo créé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('game_new') }}" class="addButton">Ajouter un nouveau jeu vidéo</a>

{% endblock %}
