{% extends 'base.html.twig' %}

{% block title %}Game
{% endblock %}

{% block body %}

	<h1>Game</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ game.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ game.Name }}</td>
			</tr>
			<tr>
				<th>Year</th>
				<td>{{ game.Year }}</td>
			</tr>
			<tr>
				<th>GameStudio</th>
				<td>{{ game.GameStudio }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('game_index') }}">back to list</a>

	<a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

	{{ include('admin/game/_delete_form.html.twig') }}
{% endblock %}
